body {
    width: 100%;
    height: 100%;
    margin-left: 0%;
    margin-top: 0%;
    overflow-x: hidden;


}

ul {
    padding: 0px !important;
}

.header-1 {

    background-color: #011E36;
    height: 70px;

}

.img {
    max-width: 200px;
    max-height: 200px;
    max-height: -20px;

}

main,
.content {
    margin: 0 auto;
    position: relative;
}

.redes-sociais ul li {
    display: inline-block;
    float: left;
    list-style: none;
    margin-left: 50px;
    margin-right: -40px;

}

.logo {
    float: left;
    width: 70%;
    height: 60%;

}

.redes-sociais {

    width: 30%;
    float: left;

}

.header-2 {
    background-color: white;
    width: 100%;
    margin: 0 auto;
    padding: 12px;
}

.menu-urls {
    height: 70px;
    border-bottom: 3px solid #011E36;
}

.menu ul li {
    display: inline-block;
    color: #737373;
    margin-left: 15px;
    height: 40px;
}

.menu ul li:hover {
    border-bottom: 2px solid #64B21C;
}

.menu ul li a:hover {
    color: #64B21C;

}

.menu ul li a {
    color: #737373;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    padding: 10px;
}

.menu {
    width: 70%;
    float: left;

}

.busca {
    text-align: center;
    width: 23%;
    float: left;
}

.busca input {
    background-image: url('../img/lupa.png');
    background-repeat: no-repeat;
    background-position: 95%;
    height: 30px;
    margin-top: 10px;
    padding: 12px;
    width: 170px;
    border: solid 2px #64B21C;
}

.col-100 {
    width: 100%;
    float: left;
    position: relative;
    height: 50p;
}

button.slick-prev {
    font-size: 0px;
    border: none;
    width: 48px;
    height: 48px;
    z-index: 9;
    background-color: transparent;
    position: absolute;
    top: 20%;
    left: 3%;

}

button.slick-next {
    font-size: 0px;
    border: none;
    width: 48px;
    height: 48px;
    z-index: 9;
    background-color: transparent;
    position: absolute;
    top: 20%;
    right: 3%;
}


.slick-initialized {
    overflow: hidden;
}

.slick-dots li button {
    font-size: 0px;
    border: 3px solid #011E36;
    width: 16px;
    height: 16px;
    background: transparent;
    border-radius: 50%;
    cursor: pointer;

}

.slick-dots {
    margin: 0 auto;
    width: 40%;
    position: absolute;
    left: 50%;
    top: 575px;
}

li.slick-active button {
    background: #64B21C;

}


.slick-dots li {
    padding-left: 10px;
    display: inline-block;
}

.texto-destaque {
    text-align: center;
}

.texto-destaque h1 {
    color: #011E36;
    font-size: 30px;

}

.texto-destaque p {
    color: #011E36;
    font-size: 20px;


}

.col-3 {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    width: 31%;
    float: left;
    position: relative;
}

.bloco-imagem img {
    margin: 0 auto;
    width: 100%;
    height: auto;
}

.bloco-imagem {
    height: 290px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 10px;
    width: 30%;
}

.bloco-imagem b,
p {
    text-align: center;
    color: #27adae;
}


.bloco-texto {

    margin-top: 2em;

    text-align: center;
}

h3 {
    font-weight: normal !important;
}

.bloco-imagens-texto {
    background-color: #011E36;
}


.bloco-imagens-texto:before {
    width: 100%;
    display: inline-block;
    content: '';
    height: 50px;
    background: white;
    background-image: url('../img/seta.png');
    background-repeat: no-repeat;
    background-position: center;
}


.bloco-img-texto:before {
    width: 100%;
    display: inline-block;
    content: '';
    color: #64B21C;
    text-align: center;
    height: 20px;
    background: #011E36;
    background-position: center;
}

.bloco-img {
    width: 100%;
    margin-top: 20px;
    margin-right: 20px;
    float: left;
    position: relative;
}

.texto-destaque1 h1 {
    color: #27adae;
    font-size: 30px;
    text-align: center;

}

.texto-destaque2 h1 {
    color: #27adae;
    font-size: 30px;
    text-align: center;
    height: 20px;

}

.col-4 {
    float: left;
    width: 25%;
    text-align: center;
}

.footer h3 {
    text-align: center;


}

.footer {
    background-image: url(../img/footer.png);

}

.footer-2 {
    background-image: url(../img/footer2.png);

}

.footer-2,
p {
    color: #011E36;

}

.col-4 p {
    color: black;
    text-align: center;
}

.clock {
    color: #011E36 !important;
}

.clock:before {
    content: '';
    width: 15px;
    height: 14px;
    display: inline-block;
    background-image: url(../img/clock.png);
    padding-left: 5px;
    background-repeat: no-repeat;
}

.local:before {
    content: '';
    width: 17px;
    height: 20px;
    display: inline-block;
    background-repeat: no-repeat;
    padding-left: 5px;
}

.local:before {

    background-image: url(../img/local.png);

}

.emailico:before {
    content: '';
    width: 17px;
    height: 13px;
    display: inline-block;
    background-repeat: no-repeat;
    padding-left: 5px;
}

.emailico:before {
    background-image: url(../img/email.png);
}

.telefoneico:before {
    content: '';
    width: 17px;
    height: 13px;
    display: inline-block;
    background-repeat: no-repeat;
    padding-left: 5px;
}

.telefoneico:before {
    background-image: url(../img/telefoneico.png);
}

.col-5 {
    text-align: center;
    padding-left: 7px;
    padding-right: 0px;
    height: 29%;
    float: left;
    position: relative;
}

.bloco-imagem1 {
    height: 260px;
    padding-top: 94px;
    padding-bottom: 0px;
    margin-left: 14px;
    width: 15%;
}

.bloco-texto1,
p,
b {
    text-align: center;
    color: #27adae;
}

.bloco-imagens-texto1:before {
    width: 100%;
    display: inline-block;
    content: '';
    height: 50px;
    background: white;
    background-image: url('../img/seta.png');
    background-repeat: no-repeat;
    background-position: center;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}

.login {
    height: 100vh;
    background: linear-gradient(120deg, #27adae, #011E36);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_container {
    min-height: 400px;
    width: 300px;
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 32px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login_title {
    margin-bottom: 32px;
    color: black;
}

.login_form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login_input {
    height: 48px;
    width: 100%;
    box-sizing: border-box;
    padding-left: 8px;
    border: unset;
    outline: none;

}

.login_input-border {
    height: 1px;
    width: 100%;
    margin-bottom: 16px;
    background-color: #737373;
    transition: .3s ease-in-out;
}

.login_input-border::after {
    content: '';
    display: block;
    height: 1px;
    width: 0;
    margin-bottom: 16px;
    background: linear-gradient(120deg, #27adae, #011E36);
    transition: .3s ease-in-out;
}

.login_submit {
    height: 48px;
    width: 100%;
    outline: none;
    background: linear-gradient(120deg, #27adae, #011E36, #27adae);
    background-size: 200%;
    margin-bottom: 32px;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    border: unset;
    border-radius: 4px;
    cursor: pointer;
    transition: .5s ease-in-out;
}

.login_reset {
    font-size: 12px;
    color: #737373;
    text-decoration: none;
}